$font-default: Helvetica, sans-serif;
$primary-color: rgb(233, 233, 233);
$secondary-color: rgb(200,200,200);
$backgroud-color: rgb(0, 0, 0);

body{
    font-family: $font-default;
    color: $primary-color;
    background: $backgroud-color;
}



a {
    text-decoration: none;
    color: $primary-color;
}

a:visited{
    color: $primary-color;
}

a:hover{
    color: $secondary-color;
}

nav{
    position: fixed;
    top: 50px;
    padding: 10px;
      
}

nav > div{
    background-color: blueviolet;
    margin: 0 auto;
    width: 100%;
}

.container{
    left: 120px;
   padding-top: 100px;
   padding-left: 50px;
}