---
title: Find PeopleCode or SQL Test
category: SQL
tags: [peoplesoft, peopletools, meta]
is_angular: true
---
{% include angular.html %}
<div ng-app="">
    <div>
    <h2>Search Text
        <input type="text" ng-model="srchtxt">
    </h2>
    <h4>--PeopleCode</h4>

    <pre>
    {% raw %}
    select *   
    from PSPCMTXT 
    where lower(PCTEXT) like lower('%{{ srchtxt }} %');
    {% endraw %}
    </pre>

    <h4>--SQL</h4>
    <pre>
    {% raw %}
    select * 
    from PSSQLTEXTDEFN 
    where lower(SQLTEXT) like lower('%{{ srchtxt }}%');
    {% endraw %}
    </pre>

    </div>
</div>